{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}">


    <title>404 Not Found</title>
  </head>
  <body>
    <section class="w-screen h-screen flex flex-col justify-center bg-green-900">
        <a class="p-3 bg-green-900 text-medium text-slate-100 rounded-md mx-3 hover:text-indigo-400 absolute top-0 left-0" href='/'>Home</a>
        <div class="w-full bg-green-900 text-5xl text-slate-50 p-3 flex flex-row justify-center items-center">
            <p> Django Chat Application</p>
        </div>
      <div class="w-full h-4/5 bg-green-900 p-3 flex flex-col justify-center items-center">
        <div class="w-full bg-green-900 mt-3 flex flex-row justify-center items-center">
            <span class="text-5xl animate-bounce"> &#x1F989;</span>
        </div>
        <div class="w-full bg-green-900 text-slate-50 text-5xl mb-3 flex flex-row justify-center items-center">
            <p>Error</p>
        </div>
        <div class="w-full bg-green-900 text-red-500 text-3xl font-bold flex flex-row justify-center items-center">
            <p>The requested Page Does Not Exists ... </p>
        </div>
      </div>

  </section>
  </body>
</html>
