{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css'%}">


    <title>Django Chat Application</title>
  </head>
  <body>
    <section class="w-screen h-screen flex flex-col justify-center bg-green-900">
      <nav class="w-full p-3 flex flex-row justify-end">
        <a class="p-3 bg-green-800 text-base font-bold text-slate-100 rounded-md mx-3 hover:text-green-700 hover:bg-slate-200 transition-all" href='/login/'>Login</a>
        <a class='p-3 bg-green-800 text-base font-bold text-slate-100 rounded-md mx-3 hover:text-green-700 hover:bg-slate-200 transition-all' href='/register/'>Register</a>
      </nav>
      <div class="w-full h-4/5 text-5xl text-slate-50 bg-green-900  flex flex-row justify-center items-center">
        <p> Django Chat Application</p>
      </div>
      <footer class="w-full h-1/5 text-sm text-slate-50 bg-green-900 py-2 flex flex-row justify-center items-end">
        <p>Made with React, Django and Love <span class="text-xl animate-pulse">&#x1F496;</span></p>
      </footer>
  </section>
  </body>
</html>
