@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .customized-input{
      background-color: #1e293b;
      color: #f8fafc;
    }

    .customized-scrollbar{
      scrollbar-width: thin;
      scrollbar-color:black #0f172a;
    }

    .chatroom{
        width: 95vw;
        height: 95vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .show-dropdown{
      width: 9rem;
      height: 9rem;
      animation-name: dropdown-in;
      animation-duration: 0.5s;
    }
    .hide-dropdown{
      width: 0px;
      height: 0px;
      animation-name: dropdown-out;
      animation-duration: 0.5s;
    }
    .show-contact{
      width: 100%;
      animation-name: slide-in;
      animation-duration: 0.5s;
    }

    .hide-contact{
      width: 0%;
      animation-name: slide-out;
      animation-duration: 0.5s;
    }

    .scroller{
      overflow-anchor: none;
    }

    .anchor {
      overflow-anchor: auto;
      height: 1px;
    }

    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    @keyframes dropdown-in {
      0%{
        width: 0%;
        height: 0%;
      }
      100%{
        width: 9rem;
        height: 9rem;

      }
    }

    @keyframes dropdown-out {
      0%{
        width: 9rem;
        height: 9rem;
      }
      100%{
        width: 0px;
        height: 0px;

      }
    }

    @keyframes slide-in {
      0%{
        width: 0%;
      }
      100%{
        width: 100%;

      }
    }

    @keyframes slide-out {
      0%{
        width: 100%;
      }
      100%{
        width: 0%;
        display: none;

      }
    }
  }


